* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

form > * {
    margin: 5px;
}

button,
input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

input[type="text"] {
    width: 100px;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}
